<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fyd.cygl.dao.StaffsMapper" >
  <resultMap id="BaseResultMap" type="com.fyd.cygl.entity.Staffs" >
    <id column="Sid" property="sid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Gender" property="gender" jdbcType="CHAR" />
    <result column="Year" property="year" jdbcType="INTEGER" />
    <result column="Salary" property="salary" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Sid, Name, Gender, Year, Salary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fyd.cygl.entity.StaffsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staffs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staffs
    where Sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staffs
    where Sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fyd.cygl.entity.StaffsExample" >
    delete from staffs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fyd.cygl.entity.Staffs" >
    insert into staffs (Sid, Name, Gender, 
      Year, Salary)
    values (#{sid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{year,jdbcType=INTEGER}, #{salary,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.fyd.cygl.entity.Staffs" >
    insert into staffs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        Sid,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="gender != null" >
        Gender,
      </if>
      <if test="year != null" >
        Year,
      </if>
      <if test="salary != null" >
        Salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fyd.cygl.entity.StaffsExample" resultType="java.lang.Integer" >
    select count(*) from staffs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staffs
    <set >
      <if test="record.sid != null" >
        Sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        Gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.year != null" >
        Year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.salary != null" >
        Salary = #{record.salary,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staffs
    set Sid = #{record.sid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      Gender = #{record.gender,jdbcType=CHAR},
      Year = #{record.year,jdbcType=INTEGER},
      Salary = #{record.salary,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fyd.cygl.entity.Staffs" >
    update staffs
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        Gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        Year = #{year,jdbcType=INTEGER},
      </if>
      <if test="salary != null" >
        Salary = #{salary,jdbcType=DOUBLE},
      </if>
    </set>
    where Sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fyd.cygl.entity.Staffs" >
    update staffs
    set Name = #{name,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=CHAR},
      Year = #{year,jdbcType=INTEGER},
      Salary = #{salary,jdbcType=DOUBLE}
    where Sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>