<!DOCTYPE html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>餐饮管理系统</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css" />
    <link href="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/json3/3.3.3/json3.min.js"></script>
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.all.js"></script>
    <script src="https://lib.baomitu.com/echarts/4.6.0/echarts.min.js"></script>
    <script src="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
<div class="layui-row">
    <div class="layui-col-xs12">
            <span class="magical-coder-layer-contaner">
                <div class="magicalcoder-layer-content">
                <div id="tabledemo" class="magicalcoder-table"
                     mc-attr-bool-loading="true"
                     mc-attr-str-url="/historyorder"
                     mc-attr-json-default-toolbar="[&quot;filter&quot;]"
                     mc-attr-str-skin="line"
                     mc-attr-bool-page="true"
                     mc-attr-str-method="post"
                     mc-attr-bool-total-row="false"
                     lay-filter="crud"
                     mc-attr-bool-even="true">
                    <span class="magicalcoder-table-th layui-hide" mc-attr-str-field="oid">订单号</span>
                    <span class="magicalcoder-table-th layui-hide" mc-attr-str-field="timestr">时间</span>
                    <span class="magicalcoder-table-th layui-hide" mc-attr-str-toolbar="#tableColToolbar">操作</span>
                    <div id="tableColToolbar" class="magicalcoder-table-col-tool-bar layui-hide">
                        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                    </div>
                </div>
            </div>
            </span>
    </div>
    <div class="site-text" style=" display: none" id="window1"  target="test123">
        <span id="historyoid" style="margin: 0 20px 0 20px;">1583483258105882044</span> <span id="historytid" style="margin: 0 20px 0 20px;">1</span><span id="historytime" style="margin: 0 20px 0 20px;">2020-03-06 19:50:17</span><span id="historyname" style="margin: 0 20px 0 20px;">李四</span><span id="historyphone" style="margin: 0 20px 0 20px;">12345678911</span>
        <form class="layui-form" id="tableform1" method="post">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <span class="magical-coder-layer-contaner">
                        <div class="magicalcoder-layer-content">
                            <div id="tabledemo1" class="magicalcoder-table"
                                 mc-attr-bool-loading="true"
                                 mc-attr-str-url="/historyorderdetail"
                                 mc-attr-str-skin="line"
                                 mc-attr-bool-page="true"
                                 mc-attr-str-method="post"
                                 mc-attr-bool-total-row="false"
                                 lay-filter="crud"
                                 mc-attr-bool-even="true">
                                <span class="magicalcoder-table-th layui-hide" mc-attr-str-field="number">序号</span>
                                <span class="magicalcoder-table-th layui-hide" mc-attr-str-field="fname">菜名</span>
                                <span class="magicalcoder-table-th layui-hide" mc-attr-str-field="price">价格</span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">顾客人数</label>
                <span id="historynumber" style="margin-top:12px;display: inline-block; "></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">负责员工号</label>
                <span id="historysid" style="margin-top:12px;display: inline-block; "></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">支付方式</label>
                <span id="historypayment" style="margin-top:12px;display: inline-block; "></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">预计价格</label>
                <span id="historypreprice" style="margin-top:12px;display: inline-block; "></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">折扣价格</label>
                <span id="historydiscountprice" style="margin-top:12px;display: inline-block; "></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">实际价格</label>
                <span id="historyrealprice" style="margin-top:12px;display: inline-block; "></span>
            </div>
        </form>
    </div>

</div>
<script>

    //以下脚本为标签属性转换成layui组件的还原过程
    //调试:打开浏览器控制台(F12),在代码中某行增加 debugger 即可调试
    var $ = layui.jquery, laytpl = layui.laytpl, laydate = layui.laydate, form = layui.form, layedit = layui.layedit, slider = layui.slider, element = layui.element, colorpicker = layui.colorpicker, upload = layui.upload, rate = layui.rate, carousel = layui.carousel, table = layui.table, flow = layui.flow;
    var magicalDragLayuiUtil = {
        rebuildLayUiControls: function () {
            var _t = this;
            //日期
            $(".magicalcoder-laydate").each(function (idx, item) {
                laydate.render(_t.iteratorAttr({
                    elem: item
                }, item));
            })
            //富文本
            $(".magicalcoder-layedit").each(function (idx, item) {
                var mcDataId = $(item).attr("id");
                if (mcDataId) {
                    layedit.build(mcDataId, {
                        height: 300
                    });
                }
            })
            //外键
            $(".magicalcoder-foreign-select2").each(function (idx, item) {
                var mcDataId = $(item).attr("id");
                if (mcDataId) {
                    $("#" + mcDataId).select2({
                        allowClear: true,
                        width: "150px",
                        delay: 500,
                    });
                }
            })
            //颜色选择器
            $(".magicalcoder-color-picker").each(function (idx, item) {
                colorpicker.render(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //上传组件
            $(".magicalcoder-layupload").each(function (idx, item) {
                upload.render(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //滑块
            $(".magicalcoder-slider").each(function (idx, item) {
                slider.render(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //评分
            $(".magicalcoder-rate").each(function (idx, item) {
                rate.render(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //轮播
            $(".layui-carousel").each(function (idx, item) {
                carousel.render(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //流加载
            $(".magicalcoder-flow").each(function (idx, item) {
                flow.load(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //代码
            $(".magicalcoder-code").each(function (idx, item) {
                layui.code(_t.iteratorAttr({
                    elem: $(item)}, item));
            })
            //弹窗
            $(".magicalcoder-layer").each(function (idx, item) {
                //先隐藏起来
                $(this).next().hide();
                $(this).click(function () {
                    var config = _t.iteratorAttr({
                        elem: $(item)}, item);
                    var type = config.type;
                    if (type + '' == 1) {
                        config.content = $(this).next();
                        if (!config.content.hasClass("magicalcoder-layer-content")) {
                            config.content = config.content.find(".magicalcoder-layer-content")
                        }
                    }
                    if (config.btn) {
                        config.btn = config.btn.split(",")
                    }
                    if (config.area) {
                        config.area = config.area.split(",")
                    }
                    layer.open(config)
                })
            })
            //动态表格 我们单独封装了layui-table的初始化方式 至于数据排序 返回格式 等操作请根据你的具体环境自行封装
            $(".magicalcoder-table").each(function (idx,
                                                    item) {
                var cols = [];
                //读取列配置
                $(this).find(".magicalcoder-table-th").each(function (i, th) {
                    cols.push(_t.iteratorAttr({
                        title: $(this).text()}, th));
                })
                var tableConfig = _t.iteratorAttr({
                        elem: $(item),
                        cols: [cols] },
                    item);
                //初始化表格 至于返回的数据格式 您可以根据自己的系统自行改造 这里仅做一个示例 参考js\\data\\list.json
                table.render(tableConfig);
                //监听工具条crud事件
                table.on('tool(crud)', function(obj){
                    var data = obj.data; //获得当前行数据
                    var tr=obj.tr//活动当前行tr 的  DOM对象
                    if(obj.event === 'detail'){
                        layer.open({
                            type: 1 //Page层类型
                            ,skin: 'layui-layer-molv'
                            ,area: ['700px', '800px']
                            ,title: ['查看详细信息','font-size:18px']
                            ,btn: ['确定']
                            ,shadeClose: true
                            ,shade: 0 //遮罩透明度
                            ,maxmin: true //允许全屏最小化
                            ,content:$("#window1")  //弹窗路径
                            ,success:function(layero,index){
                                //将已存在数据填到弹出的表单中
                                $('#historyoid').text(data.oid)
                                $('#historytid').text(data.tid);
                                $('#historytime').text(data.timestr);
                                $('#historyname').text(data.name);
                                $('#historyphone').text(data.phone);
                                $('#historynumber').text(data.number);
                                $('#historysid').text(data.sid);
                                $('#historypayment').text(data.payment);
                                $('#historypreprice').text(data.preprice);
                                $('#historydiscountprice').text(data.discountprice);
                                $('#historyrealprice').text(data.realprice);
                                table.reload('tabledemo1', {
                                    url: '/historyorderdetail'
                                    ,where: {oid:data.oid} //设定异步数据接口的额外参数
                                });

                            },yes:function(index,layero){
                                //当点击确定时，请求后台。
                                layer.close(index);//关闭弹出层
                                $("#tableform1")[0].reset()//重置form
                            }
                        });
                    }
                });
            })
            //部分组件初始化
            element.init();
            //表单初始化
            form.render();
        },
        //将标签上的属性 转换成layui函数初始化时的参数名:参数值
        iteratorAttr: function (renderConfig, dom) {
            var attrs = dom.attributes;
            for (var i = 0; i < attrs.length; i++) {
                var attr = attrs[i];
                var name = attr.name;
                var value = attr.value;
                if (name.indexOf("mc-") === 0) {
                    name = name.replace("mc-attr-", '');
                    name = name.replace("mc-event-", '');
                    if (name.indexOf('str-') === 0) {
                        name = name.replace('str-', '');
                    } else if (name.indexOf('bool-') === 0) {
                        name = name.replace('bool-', '');
                        value == 'true' || value === '' ? value = true: value = value;
                        value == 'false' ? value = false: value = value;
                    } else if (name.indexOf('num-') === 0) {
                        name = name.replace('num-', '');
                        if (value !== '' && !isNaN(value)) {
                            value = parseFloat(value);
                        }
                    } else if (name.indexOf('json-') === 0) {
                        name = name.replace('json-', '');
                        if (value !== '') {
                            value = JSON.parse(value);
                        }
                    }
                    renderConfig[this.htmlAttrNameToTuoFeng(name)] = value;
                }
            }
            return renderConfig;
        },
        //user-name -> userName html上的标签名转换成驼峰名称
        htmlAttrNameToTuoFeng: function (name) {
            var arr = name.split("-");
            var newArr = []
            for (var i = 0; i < arr.length; i++) {
                if (i != 0) {
                    if (arr[i] != '') {
                        newArr.push(this.firstCharToUpLower(arr[i]));
                    }
                } else {
                    newArr.push(arr[i]);
                }
            }
            return newArr.join('');
        },
        //首字母大写
        firstCharToUpLower: function (name) {
            var arr = name.split("");
            arr[0] = arr[0].toUpperCase();
            return arr.join('');
        },
    }
    magicalDragLayuiUtil.rebuildLayUiControls();
    new McECharts().render();
</script>
</body>
</html>