<!DOCTYPE html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成-->
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>餐饮管理系统</title>
  <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css" />
  <link href="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/json3/3.3.3/json3.min.js"></script>
  <script src="https://www.layuicdn.com/layui-v2.5.4/layui.all.js"></script>
  <script src="https://lib.baomitu.com/echarts/4.6.0/echarts.min.js"></script>
 <script src="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <!--layui的table col操作列自定义的模板 您可以根据自己的实际情况改动-->
  <script type="text/html" id="tableToolbar">
    <div class="layui-inline" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
    <div class="layui-inline" lay-event="update"><i class="layui-icon layui-icon-edit"></i></div>
    <div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
  </script>
  <script type="text/html" id="tableColToolbar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-lg12">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-bg-black layui-col-lg4" style="width: 74.6617%;
                    height:70px;">
                    <h1 style="margin:15px 0 15px 50px;">餐饮管理系统</h1>
                </div>
                <div class="layui-col-xs12 layui-bg-black layui-col-lg4" style="width: 12.7445%;
                    height:70px;">
                    <div style="margin:15px 0 15px 50px;" shiro:authenticated="true">
                        <small>欢迎您，</small><span shiro:principal>###</span>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-bg-black layui-col-lg4" style="width: 12.5698%;
                    height:70px;">
                    <div style="margin:15px 0 15px 50px;">
                        <a href="/logout" style="color: #eeeeee;"><small>退出登录</small></a>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-row">
                        <div class="layui-col-md6" style="width: 15.8785%;">
                            <ul class="layui-nav layui-nav-tree" lay-shrink="all">
                                <li class="layui-nav-item" shiro:hasPermission="indexpm">
                                    <a href="/order/main.html">首页</a>
                                    <dl class="layui-nav-child"></dl>
                                </li>
                                <li class="layui-nav-item" shiro:hasPermission="menupm">
                                    <a href="/food/fmain.html">菜谱管理</a>
                                    <dl class="layui-nav-child"></dl>
                                </li>
                                <li class="layui-nav-item" shiro:hasPermission="staffpm">
                                    <a href="/staff/smain.html">员工管理</a>
                                    <dl class="layui-nav-child"></dl>
                                </li>
                                <li class="layui-nav-item" shiro:hasPermission="tablepm">
                                    <a href="/table/tmain.html">餐桌管理</a>
                                    <dl class="layui-nav-child"></dl>
                                </li>
                                <li class="layui-nav-item" shiro:hasPermission="financepm">
                                    <a href="javascript:;">财务管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="/finance/historyorder.html">历史订单</a></dd>
                                        <dd><a href="/finance/statistics.html">财务统计</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item" shiro:hasPermission="syspm">
                                    <a href="/sys_user/sysusermain.html">系统用户管理</a>
                                    <dl class="layui-nav-child"></dl>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-col-md6" style="width: 83.9161%; height: 815px;">
                            <iframe id="iframeMain" src="/order/main.html" style="width: 100%; height:100%;border:none; " shiro:hasPermission="indexpm"></iframe>
                            <iframe id="iframeMain2" src="javascript:;" style="width: 100%; height:100%;border:none; " shiro:hasPermission="syspm"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("li>a").click(function (e) {
                e.preventDefault();
                $("#iframeMain").attr("src",$(this).attr("href"));
                $("#iframeMain2").attr("src",$(this).attr("href"));
            });
            $("dd>a").click(function (e) {
                e.preventDefault();
                $("#iframeMain").attr("src",$(this).attr("href"));
                $("#iframeMain2").attr("src",$(this).attr("href"));
            });
        });

        //以下脚本为标签属性转换成layui组件的还原过程
        //调试:打开浏览器控制台(F12),在代码中某行增加 debugger 即可调试
        var $ = layui.jquery, laytpl = layui.laytpl, laydate = layui.laydate, form = layui.form, layedit = layui.layedit, slider = layui.slider, element = layui.element, colorpicker = layui.colorpicker, upload = layui.upload, rate = layui.rate, carousel = layui.carousel, table = layui.table, flow = layui.flow;
        var magicalDragLayuiUtil = {
            rebuildLayUiControls: function () {
                var _t = this;
                //日期
                $(".magicalcoder-laydate").each(function (idx, item) {
                    laydate.render(_t.iteratorAttr({
                        elem: item
                    }, item));
                })
                //富文本
                $(".magicalcoder-layedit").each(function (idx, item) {
                    var mcDataId = $(item).attr("id");
                    if (mcDataId) {
                        layedit.build(mcDataId, {
                            height: 300
                        });
                    }
                })
                //外键
                $(".magicalcoder-foreign-select2").each(function (idx, item) {
                    var mcDataId = $(item).attr("id");
                    if (mcDataId) {
                        $("#" + mcDataId).select2({
                            allowClear: true,
                            width: "150px",
                            delay: 500,
                        });
                    }
                })
                //颜色选择器
                $(".magicalcoder-color-picker").each(function (idx, item) {
                    colorpicker.render(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //上传组件
                $(".magicalcoder-layupload").each(function (idx, item) {
                    upload.render(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //滑块
                $(".magicalcoder-slider").each(function (idx, item) {
                    slider.render(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //评分
                $(".magicalcoder-rate").each(function (idx, item) {
                    rate.render(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //轮播
                $(".layui-carousel").each(function (idx, item) {
                    carousel.render(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //流加载
                $(".magicalcoder-flow").each(function (idx, item) {
                    flow.load(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //代码
                $(".magicalcoder-code").each(function (idx, item) {
                    layui.code(_t.iteratorAttr({
                        elem: $(item)}, item));
                })
                //弹窗
                $(".magicalcoder-layer").each(function (idx, item) {
                    //先隐藏起来
                    $(this).next().hide();
                    $(this).click(function () {
                        var config = _t.iteratorAttr({
                            elem: $(item)}, item);
                        var type = config.type;
                        if (type + '' == 1) {
                            config.content = $(this).next();
                            if (!config.content.hasClass("magicalcoder-layer-content")) {
                                config.content = config.content.find(".magicalcoder-layer-content")
                            }
                        }
                        if (config.btn) {
                            config.btn = config.btn.split(",")
                        }
                        if (config.area) {
                            config.area = config.area.split(",")
                        }
                        layer.open(config)
                    })
                })
                //动态表格 我们单独封装了layui-table的初始化方式 至于数据排序 返回格式 等操作请根据你的具体环境自行封装
                $(".magicalcoder-table").each(function (idx,
                    item) {
                    var cols = [];
                    //读取列配置
                    $(this).find(".magicalcoder-table-th").each(function (i, th) {
                        cols.push(_t.iteratorAttr({
                            title: $(this).text()}, th));
                    })
                    var tableConfig = _t.iteratorAttr({
                        elem: $(item),
                        cols: [cols]},
                        item);
                    //初始化表格 至于返回的数据格式 您可以根据自己的系统自行改造 这里仅做一个示例 参考js\\data\\list.json
                    table.render(tableConfig);
                })
                //部分组件初始化
                element.init();
                //表单初始化
                form.render();
            },
            //将标签上的属性 转换成layui函数初始化时的参数名:参数值
            iteratorAttr: function (renderConfig, dom) {
                var attrs = dom.attributes;
                for (var i = 0; i < attrs.length; i++) {
                    var attr = attrs[i];
                    var name = attr.name;
                    var value = attr.value;
                    if (name.indexOf("mc-") === 0) {
                        name = name.replace("mc-attr-", '');
                        name = name.replace("mc-event-", '');
                        if (name.indexOf('str-') === 0) {
                            name = name.replace('str-', '');
                        } else if (name.indexOf('bool-') === 0) {
                            name = name.replace('bool-', '');
                            value == 'true' || value === '' ? value = true: value = value;
                            value == 'false' ? value = false: value = value;
                        } else if (name.indexOf('num-') === 0) {
                            name = name.replace('num-', '');
                            if (value !== '' && !isNaN(value)) {
                                value = parseFloat(value);
                            }
                        } else if (name.indexOf('json-') === 0) {
                            name = name.replace('json-', '');
                            if (value !== '') {
                                value = JSON.parse(value);
                            }
                        }
                        renderConfig[this.htmlAttrNameToTuoFeng(name)] = value;
                    }
                }
                return renderConfig;
            },
            //user-name -> userName html上的标签名转换成驼峰名称
            htmlAttrNameToTuoFeng: function (name) {
                var arr = name.split("-");
                var newArr = []
                for (var i = 0; i < arr.length; i++) {
                    if (i != 0) {
                        if (arr[i] != '') {
                            newArr.push(this.firstCharToUpLower(arr[i]));
                        }
                    } else {
                        newArr.push(arr[i]);
                    }
                }
                return newArr.join('');
            },
            //首字母大写
            firstCharToUpLower: function (name) {
                var arr = name.split("");
                arr[0] = arr[0].toUpperCase();
                return arr.join('');
            },
        }
        magicalDragLayuiUtil.rebuildLayUiControls();
        new McECharts().render();
    </script>
</body>
</html>